
<!--基本资料管理模块-->
    <!doctype html>
    <html lang="en">
    <head>
    	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>基本资料管理</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url('./css/index.css') }}">
	<script src="http://code.jquery.com/jquery-1.8.0.js"></script>
        <style>
            label{
            width:100px;
            margin-left:20px;
            }
            .panel-body input{
            margin-top:10px;
            }
            .panel-body button{
            margin-top:10px;
            }
        </style>
    </head>
    <body>

    	 <header class="container-fluid">
    	 	<div class="row "><!-- 第一行-->
    	 		<div class="btn " >

    	 		</div>
    	 		<div class="col-md-2  col-xs-2 ">
    	 			<img src="{{ static_url('head.jpg') }}" class="  img-circle center-block img-responsive"  width="100px" height="" class="center-block" >
					<div class="row text-center" style="margin-top:5px">
						<span style="font-size:20px;color:red">{{UserName}}</span><span>,欢迎您</span>
					</div>
    	 		</div>
    	 		<div class="col-md-10 col-xs-10 text-center">

    	 			<h1 style="color: antiquewhite">数据库管理系统</h1>
					<div class="row">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">首页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">广告位 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">广告位</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">模块 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">D</a></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">用户信息</a></li>
            <li><a href="/logout">注销登录</a></li>
            <li><a href="/chgpwd">修改用户
密码</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">联系我们</a></li>
              <li><a href="#">服务器配置</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
					</div>
    	 		</div>
    	 	</div>


    	 </header>


		 <section class="container">

		 </section>
    	 <section>

    	 	<div class="row">
                  <div class="list-group col-md-2 col-xs-2 col-sm-2 " style="margin-left:20px">

                    	<a target="_blank" href="/"  class=" list-group-item    mybtn">系统管理</a>

    	 				<a target="" href="/querydata"class=" list-group-item  mybtn">资料查询与报表处理</a>

    	 				<a target="" href="/basicdata" class="list-group-item  mybtn active">船只基本资料管理</a>

    	 				<a target="" href="#"class=" list-group-item  mybtn">船只营运证书资料管理</a>

    	 				<a target="" href="/verifyPatternManeger"class="list-group-item  mybtn">船只检验证书资料管理</a>

    	 				<a target="" href="#"  class="list-group-item  mybtn">船只安检证书资料管理</a>

    	 				<a target="" href="/nationCtf" class="list-group-item  mybtn">船只国籍配员证书资料管理</a>

    	 				<a target="" href="/navigationFee" class="list-group-item   mybtn">船只缴纳航道费情况管理</a>

    	 				<a target="" href="/waterFee" class="list-group-item  mybtn">船只缴纳水运费情况管理</a>

                  </div>

    	 		<div id="mytable"class="col-md-9 col-xs-9" >
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">船只基本资料</h3>
                      </div>
                      <div class="panel-body">

                                <form id='myinfo_panel'class="form-inline">

                                  <div class="form-group">
                                    <label for="a">船名</label>
                                    <input type="text" class="form-control" id="a">
                                  </div>
                                  <div class="form-group">
                                    <label for="b">登记号码</label>
                                    <input type="text" class="form-control" id="b" >
                                  </div>
                                    <div class="form-group">
                                    <label for="c">初次登记号</label>
                                    <input type="text" class="form-control" id="c" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">曾用名</label>
                                    <input type="text" class="form-control" id="d" >
                                  </div>

                                    <div class="form-group">
                                    <label for="d">船籍港</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                      <div class="form-group">
                                    <label for="d">原船籍港</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                      <div class="form-group">
                                    <label for="d">船舶呼号</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                     <div class="form-group">
                                    <label for="d">IMO编号</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">船舶种类</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">船体材料</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">造船地点</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                      <div class="form-group">
                                    <label for="d">建成日期</label>
                                    <input type="text" class="form-control" >

                                  </div>
                                    <div class="form-group">
                                    <label for="d">船舶价值</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">总长</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                      <div class="form-group">
                                    <label for="d">型宽</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                      <div class="form-group">
                                    <label for="d">型深</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">总吨</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">载重</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">净吨</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">主机种类</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">主机数目</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">功率</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">推进器种类</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">推进器数目</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">船舶所有人</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">船舶所有人地址</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">法定代表人姓名</label>
                                    <input type="联系电话" class="form-control" >
                                  </div>
                                    <div class="form-group">
                                    <label for="d">取得所有权日期</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                     <div class="form-group">
                                    <label for="d">发证机关</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                     <div class="form-group">
                                    <label for="d">编号</label>
                                    <input type="text" class="form-control" >
                                  </div>
                                     <div class="form-group">
                                    <label for="d">发证日期</label>
                                    <input type="text" class="form-control" >
                                  </div>


                                  <button id='add_btn' type="button" class="btn btn-default">增加</button>
                                    <button id='mod_btn' type="button" class="btn btn-default">修改</button>
                             </form>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">船只的基本资料的查询</h3>
                      </div>

                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-2" style="margin-top:15px">
                              <select id="query_selection">
                              <option value ="船名">船名</option>
                              <option value ="登记号码">登记号码</option>
                              <option value="船舶种类">船舶种类</option>
<!--                              <option value="船舶营运证号">船舶营运证号</option>-->

                            </select>
                            </div>

                            <div class="input-group col-md-10">
                              <input id="query_info"type="text" class="form-control" placeholder="Search for...">
                              <span class="input-group-btn">
                                <button id='query_btn'class="btn btn-default" type="button">查询</button>
                                  <button class="btn btn-default" type="button">打印资料</button>
                              </span>
                            </div><!-- /input-group -->
                            </div>
                      </div>
                    </div>


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">删除船只基本资料</h3>
                      </div>

                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-5 col-xs-5" style="margin-top:15px">
                            <div class="input-group ">
                              <input id = 'del_info' type="text" class="form-control" placeholder="请输入要删除的船名">
                              <span class="input-group-btn">
                                <button id='del_btn'class="btn btn-default" type="button">删除</button>
                              </span>
                            </div><!-- /input-group -->
                            </div>
                      </div>
                    </div>







					<!-- <Button id="addOrMod_btn"class="row  btn btn-success right " float="right" type="submit"style="border:1px red solid;float:right;margin-right:100px" hidden>
						提交
					</Button> -->
					<input id="submit_btn"type="submit" value="提交"  style="float:right;margin-right:100px;" hidden></input>
    	 		</div>
    	 	</div>


            </div>
             </div>

    	 </section>
		<footer>
			
		</footer>



<div id="midground" class="wall"></div>
 <div id="foreground" class="wall"></div>
 <div id="top" class="wall"></div>
<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="https://files.cnblogs.com/files/lfri/canvas-nest.js"></script>



    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
     <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_url('js/BasicDataManeger.js') }}"></script>
    </body>
    </html>


    